{% extends "includes/base.html" %}
{%block title %}Willkommen!{% endblock %}

{% block content %}

  <body class="body-begruessung">
    <h1 id="h1-begruessung">Herzlich willkommen bei BoxStop!</h1>
    <div class="begruessung">
      <p id="p-begrue"> Wir sind Ihre Anlaufstelle für alles rund um das Thema Auto.<br> 
        Von der Suche nach Tankstellen in Ihrer Nähe bis hin zur Verwaltung Ihres Fahrtenbuchs und Ausgaben-Managers
         – bei uns finden Sie alles, was Sie brauchen, um Ihr Auto bestmöglich zu nutzen und zu verwalten.</p>
    </div>
  </body>
{% endblock %}
